.shadow {
  box-shadow: 0px 4px 44px 0px rgba(0,0,0,.14);
  z-index: 201;
}

.primary-nav {
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.08);
}

.content {
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.08);
  position: relative;
  //z-index: 1;
}

.bg-yellow-dark {
  box-shadow: inset 0 0 0 1000px rgba(252, 165, 43, .7);
}

.home-hero {
  z-index: 100;
}

.case-desc-wrap {
  min-height: 190px;
}

.tile {
  background-color:#fff;
  border:1px solid #dae4e9;
  cursor:pointer;
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  padding:3rem;
  text-align:center;
  -webkit-transition:all .2s;
  transition:all .2s;
  -webkit-transition-timing-function:ease-in-out;
  transition-timing-function:ease-in-out;

  &:hover {
    border-color: transparent;
      -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.08);
      box-shadow: 0 4px 10px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.08);
      z-index: 10;
      -webkit-transform: scale(1.04);
      transform: scale(1.04);
  }
}

.image-rounded{
  width:200px;
  height:200px;
  object-fit:cover;
  border-radius:50%;
  border: 3px solid gray;
}

.uk-active > a {
  color: orange !important;
  font-weight: bold;
}